# Week 3 Lecture Chapter 6 - Tables

[datascience reference website](https://www.data8.org/datascience/reference-nb/datascience-reference.html)

Run the code cell below

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

from urllib.request import urlopen 
import re
def read_url(url): 
    return re.sub('\\s+', ' ', urlopen(url).read().decode())

# Table
```
Table()  # Empty Table
```
Add columns to Table
```
Table().with_columns('Column_name1', make_array(value1, value2, value3....),
                     'Column_name2', make_array(value1, value2, value3...)
                    )
# Adding columns to Table
```

In [3]:
# Create a Table with column Number of petals with values 8, 34, 5
Table().with_columns('Number of petals', make_array(8, 34, 5))

Number of petals
8
34
5

In [5]:
# Add two new columns use the table command above and add Name 
# make_array('lotus', 'Sunflower', 'Rose')
Table().with_columns('Name', make_array('Lotus', 'Sunflower', 'Rose' ),
                    'Number of petals', make_array(8, 34, 5)                   
                    )

Name      | Number of petals
Lotus     | 8
Sunflower | 34
Rose      | 5

In [6]:
# Assign the table to a variable
flowers = Table().with_columns('Name', make_array('Lotus', 'Sunflower', 'Rose' ),
                    'Number of petals', make_array(8, 34, 5)                   
                    )
flowers

Name      | Number of petals
Lotus     | 8
Sunflower | 34
Rose      | 5

In [10]:
# Add a new column to the table
flowers = flowers.with_columns('Color', make_array('Purple', 'Yellow', 'Red'))

In [11]:
# it did not add a column to the flowers table
flowers

Name      | Number of petals | Color
Lotus     | 8                | Purple
Sunflower | 34               | Yellow
Rose      | 5                | Red

# Reading a Comma Separated Table
```
table_name = Table.read_table(path+'filename.csv')
```
In your case the file will be in the same folder as your Week 3 Lecture Jupter Notebook.

|Column 	|Data Type	| Description  |
Longitude	Numeric	    The longitude of the army's position.<br>
Latitude	Numeric	    The latitude of the army's position.<br>
Survivors	Numeric	    The estimated number of surviving troops at that  <br>                                location.<br>
Direction	Categorical	Indicates the direction of the army's travel, with <br>levels like "Advance" and "Retreat".<br>
City	Categorical	The name of the nearest city. This column might sometimes<br> be found in a separate cities.csv file.<br>

In [12]:
# read minard.csv file into minard variable and display it
# minard is a data set that shows the number of survivors Napoleon's disastrous Russian
# campaign of 1812â€“1813
minard = Table.read_table('minard.csv')
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

# Size of the Table 
Sometimes we want to know the number of rows, the number of columns, and the size of a table.
```
table_name.num_columns
table_name.num_rows
```

In [13]:
minard.num_columns

5

In [14]:
minard.num_rows

8

# Column Labels
When we want to know the column names in a table we can use the labels method.  It will create an array of the column names.
```
table_name.labels
```

In [15]:
# List the column in the minard table
minard.labels

('Longitude', 'Latitude', 'City', 'Direction', 'Survivors')

# Change the column name
```
table_name.relabeled('old_name', 'new_name')
```

If you do not assign minard relabeled state to minard it will not change the table.

In [21]:
# rename the City to City Name
minard = minard.relabeled('City', 'City Name')

In [22]:
# display table
minard

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

# Accessing the data in a column
To change the data in a column to an array we use the column method.
```
table_name.column('column_name')
```
select the (n+1) element of the array  Index start at 0.
```
table_name.column('column_name').item(n)
```
select the last item in the array
```
table_name.column('column_name').item(-1)
```

In [23]:
# Access the Survivors using the column method
minard.column('Survivors')

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [24]:
# columns in the table are index starting with 0 so the 4 column is the Survivors column.
minard.column(4)

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [25]:
# item will access a specific value in the array - index starts at 0
# display the first item
minard.column(4).item(0)

145000

In [26]:
# display the last item
minard.column(4).item(-1)

12000

# Calculation with arrays
Working with data in a column.  Last week we showed how to do calculations with arrays.

In [31]:
# create a variable with the first element of the Survivor array
# Calculate the percent survivors
initial = minard.column(4).item(0)
minard = minard.with_columns('Percent Survivors', minard.column(4)/initial)

In [32]:
minard

Longitude | Latitude | City Name   | Direction | Survivors | Percent Survivors
32        | 54.8     | Smolensk    | Advance   | 145000    | 1
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 0.965517
34.4      | 55.5     | Chjat       | Advance   | 127100    | 0.876552
37.6      | 55.8     | Moscou      | Advance   | 100000    | 0.689655
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 0.37931
32        | 54.6     | Smolensk    | Retreat   | 24000     | 0.165517
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 0.137931
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 0.0827586

# Formatting the columns
we talked about formatting columns last week.  We will continue talking about formatting columns.

**Types of Column Formatter**
- PercentFormatter
- DateFormatter
- CurrencyFormatter

```
table_name.set_format('column name', type of Column Formatter)
```

In [33]:
minard.set_format('Percent Survivors', PercentFormatter)
minard

Longitude | Latitude | City Name   | Direction | Survivors | Percent Survivors
32        | 54.8     | Smolensk    | Advance   | 145000    | 100.00%
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 96.55%
34.4      | 55.5     | Chjat       | Advance   | 127100    | 87.66%
37.6      | 55.8     | Moscou      | Advance   | 100000    | 68.97%
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 37.93%
32        | 54.6     | Smolensk    | Retreat   | 24000     | 16.55%
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 13.79%
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 8.28%

# Selecting columns 
We talked about selecting columns using the select method.
```
table_name.select('column_name1', 'column_name2', etc.)
table_name.select(index_column1, index_column2, etc.)
```

In [34]:
# display columns Longitude and Latitude
minard.select('Longitude', 'Latitude')

Longitude | Latitude
32        | 54.8
33.2      | 54.9
34.4      | 55.5
37.6      | 55.8
34.3      | 55.2
32        | 54.6
30.4      | 54.4
26.8      | 54.3

In [35]:
# display columns Longitude and Latitude using index
minard.select(0,1)

Longitude | Latitude
32        | 54.8
33.2      | 54.9
34.4      | 55.5
37.6      | 55.8
34.3      | 55.2
32        | 54.6
30.4      | 54.4
26.8      | 54.3

In [36]:
# display Survivors columns
minard.select('Survivors')

Survivors
145000
140000
127100
100000
55000
24000
20000
12000

In [37]:
# put the column Survivors in an array using the column method
minard.column('Survivors')

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

# Drop Method
To drop columns you don't want use the drop method.  It does not change the table unless you assign it to the original table.
```
table_name.drop('colun_name1', 'column_name2')
```

In [39]:
# Drop Longitude, Latitude, and Direction
minard.drop('Longitude', 'Latitude', 'Direction')

City Name   | Survivors | Percent Survivors
Smolensk    | 145000    | 100.00%
Dorogobouge | 140000    | 96.55%
Chjat       | 127100    | 87.66%
Moscou      | 100000    | 68.97%
Wixma       | 55000     | 37.93%
Smolensk    | 24000     | 16.55%
Orscha      | 20000     | 13.79%
Moiodexno   | 12000     | 8.28%

In [40]:
# display minard
minard

Longitude | Latitude | City Name   | Direction | Survivors | Percent Survivors
32        | 54.8     | Smolensk    | Advance   | 145000    | 100.00%
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 96.55%
34.4      | 55.5     | Chjat       | Advance   | 127100    | 87.66%
37.6      | 55.8     | Moscou      | Advance   | 100000    | 68.97%
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 37.93%
32        | 54.6     | Smolensk    | Retreat   | 24000     | 16.55%
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 13.79%
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 8.28%

In [41]:
# 2015-2016 NBA 
nba2015 = Table.read_table('NBA_SALARIES2015.csv')
nba2015

RANK | PLAYER            | POSITION | TEAM                  | SALARY ($M)
1    | Kobe Bryant       | SF       | Los Angeles Lakers    | 25
2    | Joe Johnson       | SF       | Brooklyn Nets         | 24.8949
3    | LeBron James      | SF       | Cleveland Cavaliers   | 22.9705
4    | Carmelo Anthony   | SF       | New York Knicks       | 22.875
5    | Dwight Howard     | C        | Houston Rockets       | 22.3594
6    | Chris Bosh        | PF       | Miami Heat            | 22.1927
7    | Chris Paul        | PG       | Los Angeles Clippers  | 21.4687
8    | Kevin Durant      | SF       | Oklahoma City Thunder | 20.1586
9    | Derrick Rose      | PG       | Chicago Bulls         | 20.0931
11   | LaMarcus Aldridge | PF       | San Antonio Spurs     | 19.689
... (406 rows omitted)

# Relabel columns
```
table_name.relabeled('old_name', 'new_name')
```

In [42]:
# change 'SALARY ($M)' TO 'SALARY'
nba2015 = nba2015.relabeled('SALARY ($M)', 'SALARY')
nba2015

RANK | PLAYER            | POSITION | TEAM                  | SALARY
1    | Kobe Bryant       | SF       | Los Angeles Lakers    | 25
2    | Joe Johnson       | SF       | Brooklyn Nets         | 24.8949
3    | LeBron James      | SF       | Cleveland Cavaliers   | 22.9705
4    | Carmelo Anthony   | SF       | New York Knicks       | 22.875
5    | Dwight Howard     | C        | Houston Rockets       | 22.3594
6    | Chris Bosh        | PF       | Miami Heat            | 22.1927
7    | Chris Paul        | PG       | Los Angeles Clippers  | 21.4687
8    | Kevin Durant      | SF       | Oklahoma City Thunder | 20.1586
9    | Derrick Rose      | PG       | Chicago Bulls         | 20.0931
11   | LaMarcus Aldridge | PF       | San Antonio Spurs     | 19.689
... (406 rows omitted)

# Sorting Rows
Sorting rows
```
table_name.sort('column_name')  # ascending
table_name.sort('column_name', descending = True) # descending
```

In [43]:
# Sort by PLAYER column
nba2015.sort('PLAYER')

RANK | PLAYER          | POSITION | TEAM                   | SALARY
249  | Aaron Brooks    | PG       | Chicago Bulls          | 2.25
166  | Aaron Gordon    | PF       | Orlando Magic          | 4.17168
392  | Aaron Harrison  | SG       | Charlotte Hornets      | 0.525093
272  | Adreian Payne   | PF       | Minnesota Timberwolves | 1.93884
55   | Al Horford      | C        | Atlanta Hawks          | 12
40   | Al Jefferson    | C        | Charlotte Hornets      | 13.5
87   | Al-Farouq Aminu | SF       | Portland Trail Blazers | 8.04289
171  | Alan Anderson   | SG       | Washington Wizards     | 4
75   | Alec Burks      | SG       | Utah Jazz              | 9.46348
180  | Alex Len        | C        | Phoenix Suns           | 3.80712
... (406 rows omitted)

In [44]:
# sort ascending
nba2015.sort('SALARY')

RANK | PLAYER                 | POSITION | TEAM              | SALARY
417  | Thanasis Antetokounmpo | SF       | New York Knicks   | 0.030888
415  | Jordan McRae           | SG       | Phoenix Suns      | 0.049709
416  | Cory Jefferson         | PF       | Phoenix Suns      | 0.049709
412  | Orlando Johnson        | SG       | Phoenix Suns      | 0.055722
413  | Elliot Williams        | SG       | Memphis Grizzlies | 0.055722
414  | Phil Pressey           | PG       | Phoenix Suns      | 0.055722
411  | Keith Appling          | PG       | Orlando Magic     | 0.061776
409  | Erick Green            | PG       | Utah Jazz         | 0.099418
410  | Sean Kilpatrick        | SG       | Denver Nuggets    | 0.099418
406  | Lorenzo Brown          | PG       | Phoenix Suns      | 0.111444
... (406 rows omitted)

# Help on functions

```
help(table_name.method)
```

In [45]:
# use the help command to find out about sorting
help(nba2015.sort)

Help on method sort in module datascience.tables:

sort(column_or_label, descending=False, distinct=False) method of datascience.tables.Table instance
    Return a Table of rows sorted according to the values in a column.

    Args:
        ``column_or_label``: the column whose values are used for sorting.

        ``descending``: if True, sorting will be in descending, rather than
            ascending order.

        ``distinct``: if True, repeated values in ``column_or_label`` will
            be omitted.

    Returns:
        An instance of ``Table`` containing rows sorted based on the values
        in ``column_or_label``.

    >>> marbles = Table().with_columns(
    ...    "Color", make_array("Red", "Green", "Blue", "Red", "Green", "Green"),
    ...    "Shape", make_array("Round", "Rectangular", "Rectangular", "Round", "Rectangular", "Round"),
    ...    "Amount", make_array(4, 6, 12, 7, 9, 2),
    ...    "Price", make_array(1.30, 1.30, 2.00, 1.75, 1.40, 1.00))
    >>> marbles
    Color | Shape       | Amount | Price
    Red   | Round       | 4      | 1.3
    Green | Rectangular | 6      | 1.3
    Blue  | Rectangular | 12     | 2
    Red   | Round       | 7      | 1.75
    Green | Rectangular | 9      | 1.4
    Green | Round       | 2      | 1
    >>> marbles.sort("Amount")
    Color | Shape       | Amount | Price
    Green | Round       | 2      | 1
    Red   | Round       | 4      | 1.3
    Green | Rectangular | 6      | 1.3
    Red   | Round       | 7      | 1.75
    Green | Rectangular | 9      | 1.4
    Blue  | Rectangular | 12     | 2
    >>> marbles.sort("Amount", descending = True)
    Color | Shape       | Amount | Price
    Blue  | Rectangular | 12     | 2
    Green | Rectangular | 9      | 1.4
    Red   | Round       | 7      | 1.75
    Green | Rectangular | 6      | 1.3
    Red   | Round       | 4      | 1.3
    Green | Round       | 2      | 1
    >>> marbles.sort(3) # the Price column
    Color | Shape       | Amount | Price
    Green | Round       | 2      | 1
    Red   | Round       | 4      | 1.3
    Green | Rectangular | 6      | 1.3
    Green | Rectangular | 9      | 1.4
    Red   | Round       | 7      | 1.75
    Blue  | Rectangular | 12     | 2
    >>> marbles.sort(3, distinct = True)
    Color | Shape       | Amount | Price
    Green | Round       | 2      | 1
    Red   | Round       | 4      | 1.3
    Green | Rectangular | 9      | 1.4
    Red   | Round       | 7      | 1.75
    Blue  | Rectangular | 12     | 2

In [47]:
# sort nba by salary using distinct option
nba2015.sort('SALARY', distinct = True)

RANK | PLAYER                 | POSITION | TEAM                  | SALARY
417  | Thanasis Antetokounmpo | SF       | New York Knicks       | 0.030888
415  | Jordan McRae           | SG       | Phoenix Suns          | 0.049709
412  | Orlando Johnson        | SG       | Phoenix Suns          | 0.055722
411  | Keith Appling          | PG       | Orlando Magic         | 0.061776
409  | Erick Green            | PG       | Utah Jazz             | 0.099418
406  | Lorenzo Brown          | PG       | Phoenix Suns          | 0.111444
405  | Bryce Dejean-Jones     | SG       | New Orleans Pelicans  | 0.169883
404  | JaKarr Sampson         | SG       | Philadelphia 76ers    | 0.258489
402  | Steve Novak            | SF       | Oklahoma City Thunder | 0.289755
389  | Greg Whittington       | SF       | Miami Heat            | 0.525093
... (303 rows omitted)

In [48]:
# compare table above to nba
nba2015.sort('SALARY')

RANK | PLAYER                 | POSITION | TEAM              | SALARY
417  | Thanasis Antetokounmpo | SF       | New York Knicks   | 0.030888
415  | Jordan McRae           | SG       | Phoenix Suns      | 0.049709
416  | Cory Jefferson         | PF       | Phoenix Suns      | 0.049709
412  | Orlando Johnson        | SG       | Phoenix Suns      | 0.055722
413  | Elliot Williams        | SG       | Memphis Grizzlies | 0.055722
414  | Phil Pressey           | PG       | Phoenix Suns      | 0.055722
411  | Keith Appling          | PG       | Orlando Magic     | 0.061776
409  | Erick Green            | PG       | Utah Jazz         | 0.099418
410  | Sean Kilpatrick        | SG       | Denver Nuggets    | 0.099418
406  | Lorenzo Brown          | PG       | Phoenix Suns      | 0.111444
... (406 rows omitted)

# Using the take to select a row
```
table_name.take(index_number1, index_number2, etc.)  # index start at 0
```
This is a new table with subset of records based on the indexes listed.

In [50]:
# display the first row
nba2015.take(0)

RANK | PLAYER      | POSITION | TEAM               | SALARY
1    | Kobe Bryant | SF       | Los Angeles Lakers | 25

In [55]:
nba2015

RANK | PLAYER            | POSITION | TEAM                  | SALARY
1    | Kobe Bryant       | SF       | Los Angeles Lakers    | 25
2    | Joe Johnson       | SF       | Brooklyn Nets         | 24.8949
3    | LeBron James      | SF       | Cleveland Cavaliers   | 22.9705
4    | Carmelo Anthony   | SF       | New York Knicks       | 22.875
5    | Dwight Howard     | C        | Houston Rockets       | 22.3594
6    | Chris Bosh        | PF       | Miami Heat            | 22.1927
7    | Chris Paul        | PG       | Los Angeles Clippers  | 21.4687
8    | Kevin Durant      | SF       | Oklahoma City Thunder | 20.1586
9    | Derrick Rose      | PG       | Chicago Bulls         | 20.0931
11   | LaMarcus Aldridge | PF       | San Antonio Spurs     | 19.689
... (406 rows omitted)

In [53]:
np.arange(2, 5, 1)

array([2, 3, 4])

In [54]:
# display 3rd, 4th and 5th record
nba2015.take(np.arange(2,5,1))

RANK | PLAYER          | POSITION | TEAM                | SALARY
3    | LeBron James    | SF       | Cleveland Cavaliers | 22.9705
4    | Carmelo Anthony | SF       | New York Knicks     | 22.875
5    | Dwight Howard   | C        | Houston Rockets     | 22.3594

# Combining methods
```
table_name.sort('column_name').take(np.arange(n))
```

In [58]:
# display top 5 highest paid players
nba2015.sort('SALARY', descending=True).take(np.arange(5))

RANK | PLAYER          | POSITION | TEAM                | SALARY
1    | Kobe Bryant     | SF       | Los Angeles Lakers  | 25
2    | Joe Johnson     | SF       | Brooklyn Nets       | 24.8949
3    | LeBron James    | SF       | Cleveland Cavaliers | 22.9705
4    | Carmelo Anthony | SF       | New York Knicks     | 22.875
5    | Dwight Howard   | C        | Houston Rockets     | 22.3594

So far we've only been using `where` with the predicate that requires finding the values in a column to be *exactly* equal to a certain value. However, there are many other predicates. Here are a few:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|
|`are.between_or_equal_to`|`are.between_or_equal_to(2, 10)`|Find rows with values above or equal to 2 and below or equal to 10|

In [63]:
# records with SALARY above 10 million
nbax = nba2015.where('SALARY', are.above(10)).show()
nbax

In [65]:
# salary above 10 million then sorted in ascending order
nba2015.where('SALARY', are.above(10)).sort('SALARY').show()

In [66]:
# records with PLAYER 'Stephen Curry'
nba2015.where('PLAYER', are.equal_to('Stephen Curry'))

RANK | PLAYER        | POSITION | TEAM                  | SALARY
57   | Stephen Curry | PG       | Golden State Warriors | 11.3708

In [70]:
# records with Golden State Warriors
nba2015.where('TEAM', are.equal_to('Golden State Warriors')).show()

In [71]:
# records with Team Denver Nuggets
nba2015.where('TEAM', are.equal_to('Denver Nuggets')).show()

In [72]:
# Point Guard with salary above 15 million
nba2015.where('POSITION', are.equal_to('PG')).show()

In [73]:
# salary between 10 and less than 10.3
nba2015.where('SALARY', are.between(10, 10.3))

RANK | PLAYER         | POSITION | TEAM               | SALARY
67   | Luol Deng      | SF       | Miami Heat         | 10.1516
68   | Gerald Wallace | SF       | Philadelphia 76ers | 10.1059
69   | DeMar DeRozan  | SG       | Toronto Raptors    | 10.05
70   | Danny Green    | SG       | San Antonio Spurs  | 10

In [74]:
# Player Barack Obama
nba2015.where('PLAYER', are.equal_to('Barack Obama'))

RANK | PLAYER | POSITION | TEAM | SALARY

In [75]:
# records containing Warriors
nba2015.where('TEAM', are.containing('Warriors'))

RANK | PLAYER            | POSITION | TEAM                  | SALARY
28   | Klay Thompson     | SG       | Golden State Warriors | 15.501
34   | Draymond Green    | PF       | Golden State Warriors | 14.2609
38   | Andrew Bogut      | C        | Golden State Warriors | 13.8
56   | Andre Iguodala    | SF       | Golden State Warriors | 11.7105
57   | Stephen Curry     | PG       | Golden State Warriors | 11.3708
101  | Jason Thompson    | PF       | Golden State Warriors | 7.00847
128  | Shaun Livingston  | PG       | Golden State Warriors | 5.54373
178  | Harrison Barnes   | SF       | Golden State Warriors | 3.8734
179  | Marreese Speights | C        | Golden State Warriors | 3.815
237  | Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

In [76]:
nba2015.where('POSITION', are.containing('G'))

RANK | PLAYER            | POSITION | TEAM                  | SALARY
7    | Chris Paul        | PG       | Los Angeles Clippers  | 21.4687
9    | Derrick Rose      | PG       | Chicago Bulls         | 20.0931
17   | Russell Westbrook | PG       | Oklahoma City Thunder | 16.7442
18   | Kyrie Irving      | PG       | Cleveland Cavaliers   | 16.4075
21   | Jimmy Butler      | SG       | Chicago Bulls         | 16.4075
23   | John Wall         | PG       | Washington Wizards    | 15.852
25   | James Harden      | SG       | Houston Rockets       | 15.7564
27   | Eric Gordon       | SG       | New Orleans Pelicans  | 15.514
28   | Klay Thompson     | SG       | Golden State Warriors | 15.501
32   | Goran Dragic      | PG       | Miami Heat            | 14.783
... (170 rows omitted)

In [78]:
nba2015.where('PLAYER', are.containing('Paul'))

RANK | PLAYER       | POSITION | TEAM                 | SALARY
7    | Chris Paul   | PG       | Los Angeles Clippers | 21.4687
15   | Paul Millsap | PF       | Atlanta Hawks        | 18.6717
16   | Paul George  | SF       | Indiana Pacers       | 17.1201
195  | Paul Pierce  | SF       | Los Angeles Clippers | 3.376

In [ ]:
# records position contains G

In [ ]:
# not Clevland Cavaliers  with salary no less than 20 million

In [81]:
nba2015.where('TEAM', are.not_equal_to('Cleveland Cavaliers')).where('SALARY', are.above_or_equal_to(20))

RANK | PLAYER          | POSITION | TEAM                  | SALARY
1    | Kobe Bryant     | SF       | Los Angeles Lakers    | 25
2    | Joe Johnson     | SF       | Brooklyn Nets         | 24.8949
4    | Carmelo Anthony | SF       | New York Knicks       | 22.875
5    | Dwight Howard   | C        | Houston Rockets       | 22.3594
6    | Chris Bosh      | PF       | Miami Heat            | 22.1927
7    | Chris Paul      | PG       | Los Angeles Clippers  | 21.4687
8    | Kevin Durant    | SF       | Oklahoma City Thunder | 20.1586
9    | Derrick Rose    | PG       | Chicago Bulls         | 20.0931