# Chapter 1

This Jupyter Notebook is to be used to following the code in Chapter 1 of the textbook.  Add new cells by clicking the + sign and enter code to test out what you entered.  The first code cell below should be run in order to run all the other code in the textbook.

__[Section 1.3](https://inferentialthinking.com/chapters/01/3/Plotting_the_Classics.html)__

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

from urllib.request import urlopen 
import re
def read_url(url): 
    return re.sub('\\s+', ' ', urlopen(url).read().decode())

# Section 1.3
First, run the code cell below.  The analysis is about The Adventures of Huckleberry Finn.

# Section 1.3.1 Literary Characters

# Analysis about Little Women

# Section 1.3.2

In [2]:
chars_periods_huck_finn

NameError: name 'chars_periods_huck_finn' is not defined

# Python Code Basics
We will start with the print command.  It will print out is in quotation marks.

# Errors
Not every piece of code you enter will be correct sometimes, it result in an error.  Then tat appends we need to find what happened.

In [ ]:
print("My name is JoEllen.")

# Arithmetic Operations ans Comments

- Multiplication *<br>
- Exponential **<br>
- Divide /<br>
- Addition + <br>
- Subtraction -
- Comments #

**Examples**
```
# Exponential
2**4  # 16 is the answer
# Multiplication
2*4  # 8 is the anwser
# Division
16/8  # 2 is the anwser
# Addition
10 + 2  # 12 is the answer
# Subtraction
20-4  #16 is the answer
```

# Order of Operations
**PEMDAS**
- Parentheses
- Exponents
- Multiplication and Division from left to right
- Addition and subtraction from left to right

4**2 + 8 + 3**2 / 3
[[(3 + 2) - 7]*5 + 2*([6 *3] - 13)

# PEMDAS - Order of operations
The computer will use the math order of operations to do the calculations<br>
- Parentheses
- Exponents
- Multiplication and Division from left to right
- Addition and Subtraction from left to right

**Example**
[(3+2) - 7]*5 + 2([6 * 3) - 13)

# Variable Names
Starts with a letter not a number.  It can take the form of camel case myName or myname both of theses variable are okay but not the same.
- myName = "JoEllen"
- myname = "Amy"
- my_name = "Will"

```
print(myName)
print(myname)
print(my_name)
```

# Payroll Calculations
```
hours = 40
rate = 25.50
week = hours * rate
print("She earned $",week,"this week.")
```

# Nested Expression
Where you have more than one operation in one of code.  Suppose you had two students with 3 exam scores.  Amy scored the following {89, 77, 93}.<br>
Eloise scored {99, 100, 65}.  In one line of code you want to find the maximum score for the two students.

```
max_score = max(max(89, 77, 93), max(99, 100, 65))
max_score
```

#  What if you wanted to find the minimum score for the two students

In your lab and homework assignment you will see the following.
```
min_score = ...
```
This indicates you need to replace the three dots with code.  You will also see code with the following.
```
grader.check("q3_1_2")
```
run the code cell to check if you are doing the problem correctly.  It will tell you if you in the right direction; but note there is a hidden test that you do not see that can be wrong.  So even if you pass some of the test you can still get the answer incorrect.  I know this can be flustrating.  Use the hints if given and take time to read the question carefully. Do not wait until the last minute to do your Lab and Homework assignment.  You can work with a classmate on the Lab assignment but not the Homework assignment.