# Week 2 Lecture
We will review Chapter 3, 4 and 5 in this lecture series.  Last week, we talked about basic Python code.  We will continue in this lecture to add to <br>
what we know. Let's first run the code cell below.

In [ ]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

from urllib.request import urlopen 
import re
def read_url(url): 
    return re.sub('\\s+', ' ', urlopen(url).read().decode())

# Expression
We will review expressions from Chapter 3.1

| Expression Type | Operator | Example  | Value   |
|-----------------|----------|----------|---------|
| Addition        | +        | 2 + 3    | 5       |
| Subtraction     | -        | 2 - 3    | -1      |
| Multiplication  | *        | 2 * 3    | 6       |
| Division        | /        | 7/3      | 2.66667 |
| Remainder       | %        | 7 % 3    | 1       |
| Exponentiation  | **       | 2 ** 0.5 | 1.41421 |

## PEMDAS - Order of Operations
- Paretheses
- Exponents
- Multiplication and Division left to right
- Addition and Subtraction left to right

```
1 + 2 * 3 * 4 * 5 / 6 ** 3 + 7 + 8 - 9 + 10
1 + 2 * 3 * 4 * 5 / 216 + 7 + 8 - 9 + 10
1 + 6 * 4 * 5 / 216 + 7 + 8 - 9 + 10
1 + 24 * 5 / 216 + 7 + 8 - 9 + 10
1 + 120 / 216 + 7 + 8 - 9 + 10
1 + 0.555555555555557 + 7 + 8 - 9 + 10
1.555555555555557 + 7 + 8 - 9 + 10
8.555555555555557 + 8 - 9 + 10
16.555555555555557 - 9 + 10
7.555555555555557 + 10
17.555555555555557
```

In [ ]:
1 + 2 * 3 * 4 * 5 / 6 ** 3 + 7 + 8 - 9 + 10

# Names
Names that hold numeric or text values.  Names must begin with a letter or _ (underscore).  However, in this course, names will start with a letter.  You assign a value or string to a name using the = symbol

- quarter = 1/4
- half = 2 * quarter
- firstName = 'JoEllen'  

firstName variable name is called camel because the Name is capitolized.  Using first_name can be another way to write a name.  Each name firstname, firstName, and first_Name are all different variable names.

```
firstname = 'JoEllen'
firstName = 'Amy'
first_Name = 'Will'
print(firstname)
print(firstName)
print(first_Name)
```

# Using variables to do calculations

```
hours = 40
rates = 25.5
weeks = hours * rates
print("She earned $', weeks,"this week.")
```

# Growth Rates
Growth_rate = (changed - initial)/initial another way to define the growth rate<br>
Growth_rate = (changed/initial) - 1

In [ ]:
changed = 130312
initial = 80000
Growth_rate = (changed - initial)/initial

# Growth Rate give constant growth rate
```
annual_growth_rate = 0.05
ten_year_growth_rate = (1 + annual_growth_rate)**10 - 1
print("Ten year rate = ", ten_year_growth_rate)
print("Ten year growth rate", GrowthRate)
```
Like wise if I look at an initial amount and then the changed amount you can figure out the annual growth rate by knowing the number of years in between.
```
initial = 80000
changed = 130312
n = 10
annual_Growth_Rate = (changed/initial)**(1/n) - 1
annual_Growth_rate
```

# Call Expressions
Call expressions invoke functions<br>
[List of Python functions](https://docs.python.org/3/library/functions.html)
There are functions that are not defaults but belong to other libraries.  To access those functions use the code below.
```
import math
import operator
math.sqrt(operator.add(4, 5))
```

# Help function
To get information on a function.
```
math.log?

max?
```

# Tables
Tables is like a spreadsheet of data with each column having a name and data in each column.  The data can be numeric or string (Text).<br>
Below I am creating a table with three columns Flavor, Color, and Price.  You will learn the code later in the course.

In [ ]:
# Introduction to Tables
cones = Table().with_columns(
                       'Flavor', make_array('strawberry', 'chocolate', 'chocolate', 'strawberry', 'chocolate', 'bubblegum'),
                        'Color', make_array('pink', 'light brown', 'dark brown', 'pink', 'dark brown', 'pink'),
                        'Price', make_array(3.55, 4.75, 5.25, 5.25, 5.25, 4.75)
)

In [ ]:
# Display the table by entering the table name

# Methods

table_name.method(arguments)<br>

the show method will show the first n rows of the table
```
table_name.show(n)
```
In the cell below show 2 records of the cones table.<br>
[Table methods](https://www.data8.org/datascience/reference-nb/datascience-reference.html)

# Selecting columns in Table
When you use the select method with the table name you create a subset of the table with the columns you selected.  The original table is not affected.<br><br>

table_name.select('column name')<br>
table_name.select('column_name_1', 'column_name_2')

# Drop a column
Sometimes you may want to a table without one of the columns.  In that case, you would use the drop method.  The original table is not affected.<br>
```
tablename.drop('column_name')
```
The resulting table does not change the original table.

# Sorting Rows
Sorts the table based on the rows in a column.
```
table_name.sort('column_name')  # smallest to largest
table_name.sort('column_name', descending = True)
```
Sort the cones table by Price

# Selecting Rows that satisfy Conditions
```
table_name.where('columnName', 'value')
```
Select chocolate records for the table cones.  Make sure the value is listed in the table.  Otherwise, it will not show anything.

# Relabel a column
Sometimes we need to relabel a column we can use the following code to relabel the column
```
table_name.relabel('old column name', 'new column name')
```

# Sorting dolumns

```
table_name.sort('column name', descending = True)
```

In [ ]:
warriors.sort('SALARY', descending=True)

# Data Types
There are a number of different data types when storing data.  For example, string, numbers(float and integer), and DateTime.<br>
To find the data type, you can use the function type(abs).<br>

## Integers - int - negative and positive whole numbers.

h = 2<br>
t = -1<br>
3 ** 2034  <br>

## Real- float - All numbers, integers, and values between two integers.

y = 2.5<br>
w = 1.33333333333333333<br>
z = 10/6

## String - Text
name = "JoEllen Green"
statement = "My class's name is Introduction to Data Science"


## Data Type function

type(h)<br>
type(t)<br>
type(y)<br>
type(w)<br>
type(z)<br>
type(name)<br>
type(statement)<br>

In the code cell below, create the variable names above.  Then, create five code cells and enter the type functions above to determine each variable's data type.

# Float Values
- Extremely Large or Extremely small numbers.
- 15 or 16 significant digits.
- When performing arithmetic the last few digits may be incorrect.

In [ ]:
1/23456789012345

# Strings variables 
String variables are alphanumeric and special characteristic values.<br>
You can use the + symbol to combine string values or variables.<br>

"data" + "science"<br>
Answer: 'datascience'<br><br>
'data' + " " + 'science'<br>
Answer: 'data science'<br>

## Changing number to string
"That's "+ str(1 + 1) +" ' + str(True)<br>
Answer: "That's 2 True"<br><br>

In the code cells below, enter the string statement above and verify the answers.

In [ ]:
"data" + "science"

In [ ]:
'data' + " " + "science"

# String Methods
There are methods that strings can use to make changes to it.  For example, uppercase, lowercase, and replace<br>
__[String Methods](https://www.w3schools.com/python/python_ref_string.asp)__
<br><br>
"load".upper()  # makes the string uppercase<br>
"hitchhiker".replace("hi", "ma") # replace hi with ma so the result will be matchhiker<br>
s = 'train'<br>
t = s.replace('t', 'ing')<br>
u = t.replace('in', 'de')<br>
u<br>
Answer: 'degrade'<br>
<br>
In the code cell, s = 'train', then replace 'ain' with 'ought'.  Display the answer.<br>

# Comparisons
Logical comparison results are either True or False.

| **Comparison**     | **Operator** | **True Example** | **False Example** |
|--------------------|--------------|------------------|-------------------|
| Less than           | <            | 2 < 3            | 2 < 2             |
| Greater than       | >            | 3 > 2            | 3 > 3             |
| Less than or equal | <=           | 2 <= 2           | 3 <= 2            |
| Greater or equal   | >=           | 3 >= 3           | 2 >= 3            |
| Equal              | ==           | 3 == 3           | 3 == 2            |
| Not equal          | !=           | 3 != 2           | 2 != 2            |

# Multiple comparisons

1 < 1 + 1 < 3

In [ ]:
x = 12
y = 5 
min(x, y) <= (x + y)/2 <= max(x, y)

# you can compare strings
"Dog" > "Catashtrope" > "Cat"