# Week 3 Lecture Chapter 6 - Tables

[datascience reference website](https://www.data8.org/datascience/reference-nb/datascience-reference.html)

Run the code cell below

In [ ]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

from urllib.request import urlopen 
import re
def read_url(url): 
    return re.sub('\\s+', ' ', urlopen(url).read().decode())

# Table
```
Table()  # Empty Table
```
Add columns to Table
```
Table().with_columns('Column_name1', make_array(value1, value2, value3....),
                    )
# Adding columns to Table
```

In [ ]:
# Create a Table with column Number of petals with values 8, 34, 5

In [ ]:
# Add two new columns use the table command above and add Name 
# make_array('lotus', 'Sunflower', 'Rose')

In [ ]:
# Assign the table to a variable

In [ ]:
# Add a new column to the table

In [ ]:
# it did not add a column to the flowers table

# Reading a Comma Separated Table
```
table_name = Table().read_table(path+'filename.csv')
```
In your case the file will be in the same folder as your Week 3 Lecture Jupter Notebook.

|Column 	|Data Type	| Description  |
Longitude	Numeric	    The longitude of the army's position.<br>
Latitude	Numeric	    The latitude of the army's position.<br>
Survivors	Numeric	    The estimated number of surviving troops at that  <br>                                location.<br>
Direction	Categorical	Indicates the direction of the army's travel, with <br>levels like "Advance" and "Retreat".<br>
City	Categorical	The name of the nearest city. This column might sometimes<br> be found in a separate cities.csv file.<br>

In [ ]:
# read minard.csv file into minard variable and display it
# minard is a data set that shows the number of survivors Napoleon's disastrous Russian
# campaign of 1812â€“1813

# Size of the Table 
Sometimes we want to know the number of rows, the number of columns, and the size of a table.
```
table_name.num_columns
table_name.num_rows
```

# Column Labels
When we want to know the column names in a table we can use the labels method.  It will create an array of the column names.
```
table_name.labels
```

In [ ]:
# List the column in the minard table

# Change the column name
```
table_name.relabeled('old_name', 'new_name')
```
If you do not assign minard relabeled state to minard it will not change the table.

In [ ]:
# rename the City to City Name

In [ ]:
# display table

In [ ]:
# assign new column name to minard table

In [ ]:
# display minard

# Accessing the data in a column
To change the data in a column to an array we use the column method.
```
table_name.column('column_name')
```

In [ ]:
# Access the Survivors using the column method

In [ ]:
# columns in the table are index starting with 0 so the 4 column is the Survivors column.

In [ ]:
# item will access a specific value in the array - index starts at 0
# display the first item

In [ ]:
# display the last item

# Calculation with arrays
Working with data in a column.  Last week we showed how to do calculations with arrays.

In [ ]:
# create a variable with the first element of the Survivor array
# Calculate the percent survivors

# Formatting the columns
we talked about formatting columns last week.  We will continue talking about formatting columns.

**Types of Column Formatter**
- PercentFormatter
- DateFormatter
- CurrencyFormatter

```
table_name.set_format('column name', type of Column Formatter)
```

# Selecting columns 
We talked about selecting columns using the select method.
```
table_name.select('column_name1', 'column_name2', etc.)
table_name.select(index_column1, index_column2, etc.)
```

In [ ]:
# display columns Longitude and Latitude

In [ ]:
# display columns Longitude and Latitude using indes

In [ ]:
# display Survivors columns

In [ ]:
# put the column Survivors in an array using the column method

# Drop Method
To drop columns you don't want use the drop method.  It does not change the table unless you assign it to the original table.
```
table_name.drop('colun_name1', 'column_name2')
```

In [ ]:
# Drop Longitude, Latitude, and Direction

In [ ]:
# display minard

In [ ]:
# 2015-2016 NBA

# Relabel columns
```
table_name.relabeled('old_name', 'new_name')
```

In [ ]:
# change 'SALARY ($M)' TO 'SALARY'

# Sorting Rows
Sorting rows
```
table_name.sort('column_name')  # ascending
table_name.sort('column_name', descending = True) # descending
```

In [ ]:
# Sort by SALARY column

In [ ]:
# sort descending

# Help on functions

```
help(table_name.method)
```

In [ ]:
# use the help command to find out about sorting

In [ ]:
# sort nba by salary using distinct option

In [ ]:
# compare table above to nba

# Using the take to select a row
```
table_name.take(index_number1, index_number2, etc.)  # index start at 0
```
This is a new table with subset of records based on the indexes listed.

In [ ]:
# display the first row

In [ ]:
# display 3rd, 4th and 5th record

# Combining methods
```
table_name.sort('column_name').take(np.arange(n))
```

In [ ]:
# display top 5 highest paid players

So far we've only been using `where` with the predicate that requires finding the values in a column to be *exactly* equal to a certain value. However, there are many other predicates. Here are a few:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|
|`are.between_or_equal_to`|`are.between_or_equal_to(2, 10)`|Find rows with values above or equal to 2 and below or equal to 10|

In [ ]:
# records with SALARY above 10 million

In [ ]:
# salary above 10 million then sorted in ascending order

In [ ]:
# records with PLAYER 'Stephen Curry'

In [ ]:
# records with Golden State Warriors

In [ ]:
# records with Team Denver Nuggets

In [ ]:
# Point Guard with salary above 15 million

In [ ]:
# salary between 10 and less than 10.3

In [ ]:
# Player Barack Obama

In [ ]:
# records containing Warriors

In [ ]:
# records position contains G

In [ ]:
# not Clevland Cavaliers  with salary no less than 20 million