# Project Review
Looking back on what was learned in the last 5 weeks
- PEMDAS
- Calculations using Growth Rate
- Creating a table with_columns method
- Reading data into a table
- Selecting columns form the table
- Relabelling a column of a table
- sorting a column
- dropping a columm
- Formatting a column 
- Selecting rows from a table using where
- Creating an array from a table
- Accessing elements of an array
- Performing calculations using an array
- Creating a scatterplot
- Creating a lineplot
- Creating a histogram
- np.arange(start, end, step)  # end not included
- selecting row using take
- selecting a row using row method

First, run the code cell below

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

from urllib.request import urlopen 
import re
def read_url(url): 
    return re.sub('\\s+', ' ', urlopen(url).read().decode())

# Expression
We will review expressions from Chapter 3.1

| Expression Type | Operator | Example  | Value   |
|-----------------|----------|----------|---------|
| Addition        | +        | 2 + 3    | 5       |
| Subtraction     | -        | 2 - 3    | -1      |
| Multiplication  | *        | 2 * 3    | 6       |
| Division        | /        | 7/3      | 2.66667 |
| Remainder       | %        | 7 % 3    | 1       |
| Exponentiation  | **       | 2 ** 0.5 | 1.41421 |

## PEMDAS - Order of Operations
- Paretheses
- Exponents
- Multiplication and Division left to right
- Addition and Subtraction left to right

```
1 + 2 * 3 * 4 * 5 / 6 ** 3 + 7 + 8 - 9 + 10
1 + 2 * 3 * 4 * 5 / 216 + 7 + 8 - 9 + 10
1 + 6 * 4 * 5 / 216 + 7 + 8 - 9 + 10
1 + 24 * 5 / 216 + 7 + 8 - 9 + 10
1 + 120 / 216 + 7 + 8 - 9 + 10
1 + 0.555555555555557 + 7 + 8 - 9 + 10
1.555555555555557 + 7 + 8 - 9 + 10
8.555555555555557 + 8 - 9 + 10
16.555555555555557 - 9 + 10
7.555555555555557 + 10
17.555555555555557
```

In [ ]:
# run the statement above

In [ ]:
# run 4+6*(9-6)**2

# Growth Rate give constant growth rate
```
annual_growth_rate = 0.05
ten_year_growth_rate = (1 + annual_growth_rate)**10 - 1
print("Ten year rate = ", ten_year_growth_rate)
print("Ten year growth rate", GrowthRate)
```
Like wise if I look at an initial amount and then the changed amount you can figure out the annual growth rate by knowing the number of years in between.
```
initial = 80000
changed = 130312
n = 10
annual_Growth_Rate = (changed/initial)**(1/n) - 1
annual_Growth_rate
```

In [ ]:
# Creating an array
```
initial = make_array(80000, 65000, 19000)
changed = make_array(130312, 85000, 36000)
n = 10
annual_Growth_Rates = (changed/initia)**(1/n) - 1

# Tables
Tables is like a spreadsheet of data with each column having a name and data in each column.  The data can be numeric or string (Text).<br>
Below I am creating a table with three columns Flavor, Color, and Price. 
```
cones = Table().with_columns(
                       'Flavor', make_array('strawberry', 'chocolate', 'chocolate', 'strawberry', 'chocolate', 'bubblegum'),
                        'Color_all', make_array('pink', 'light brown', 'dark brown', 'pink', 'dark brown', 'pink'),
                        'Price', make_array(3.55, 4.75, 5.25, 5.25, 5.25, 4.75)
)

```

# Reading Data into a Table from CSV file

```
nba = Table().read_table('nba.csv')
nba
```

# Select columns in a table

```
table_name.select('column1', 'column2')
```

# Relabeling a Column of a Table
```
table_name.relabeled('New column name', 'old column name')
```

# Sort by data column in Table
```
Table.sort('column') # ascending smallest to largest
Table.sort('column', descending=True) # largest to smallest
```