# Week 3 Lecture - Visualizations
During this week's lecture you will learn to create data visualizations.  First, run the code cell below.

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

from urllib.request import urlopen 
import re
def read_url(url): 
    return re.sub('\\s+', ' ', urlopen(url).read().decode())

In [3]:
# read in the table called actors.csv and display the table
actors = Table.read_table('actors.csv')
actors

Actor              | Total Gross | Number of Movies | Average per Movie | #1 Movie                     | Gross
Harrison Ford      | 4871.7      | 41               | 118.8             | Star Wars: The Force Awakens | 936.7
Samuel L. Jackson  | 4772.8      | 69               | 69.2              | The Avengers                 | 623.4
Morgan Freeman     | 4468.3      | 61               | 73.3              | The Dark Knight              | 534.9
Tom Hanks          | 4340.8      | 44               | 98.7              | Toy Story 3                  | 415
Robert Downey, Jr. | 3947.3      | 53               | 74.5              | The Avengers                 | 623.4
Eddie Murphy       | 3810.4      | 38               | 100.3             | Shrek 2                      | 441.2
Tom Cruise         | 3587.2      | 36               | 99.6              | War of the Worlds            | 234.3
Johnny Depp        | 3368.6      | 45               | 74.9              | Dead Man's Chest             | 423.3
Michael Caine      | 3351.5      | 58               | 57.8              | The Dark Knight              | 534.9
Scarlett Johansson | 3341.2      | 37               | 90.3              | The Avengers                 | 623.4
... (40 rows omitted)

# Key concept
Variables = columns = features = attributes<br>
Variables indicates that the features can have different values for different values.

# Scatter Plots
Given two numeric values, the plot is a series of points on the graph.
```
actors.scatter('column_x', 'column_y')
```

In [ ]:
# graph Number of Movies vs Total Gross

In [ ]:
# graph Number of Movies vs Average per Movie

In [ ]:
# remove create a table called outlier that has Number of Movies greater than 20

In [ ]:
# graph the Number of Movies vs Average per Movie for the outlier table

# Line Plots

To create line plot use the code below.

```
table_name.plot(column_x, colum_y)
```

In [ ]:
# create a table from movies_by_year.csv named movies_by_year and display it

In [ ]:
# create a  line plot of Years vs Number of Movies from movies_by_year table

In [ ]:
# create a table called century_21 which are movies with Year 1999 or above

In [ ]:
# create a line graph of Year and Number of Movies

In [ ]:
# create a line graph of Year and Total Gross

In [ ]:
# using the century_21 table the top movie in 2009

# Categorical Distributions Plots
The scatter and line plot are great if you have numerical values you want to visualize.  However, there are charts for categorical data.  First, we will read in some categorical data.

In [ ]:
# Create a table called ice cream with columns Flavor with values ('Chocolate', 'Strawberry',  and 'Vanilla'.
# create another column called 'Number of Cartons' with values 16, 5, and 9.  Finally, display the data.

# Bar charts
To create a horizontal bar chart use the code below.
```
#if you have more columns than categorical variable and frequency
table_name.barh(cat_column, num_colum_of_frequencies) 

# if your table is categorical values and frequencies.
table_name.barh(cat_column) 
```

In [ ]:
# create a bar chart for the icecream table you created

In [ ]:
# First sort the icecream table by Cartons and then create the horizontal bar chart

In [ ]:
# First sort the icecream table by Cartons descending and then create the horizontal bar chart

# Grouping Data
When we don't have the number of categorical values in a data set, we have to create them.