# Cleaning Data - Midterm
## The Midterm is due by midnight on 10/16/2023.  The python skills you learned you can use to clean a dataset.  If you get a job in Data science you will need to clean the data.  If you have any questions, please email me through Canvas or joellen.green@fresnocitycollege.edu.

### One the basic data science tasks is cleaning data.  In this assignment you will learn to clean a data set.  This is the midterm for the DS 10 Introduction to Data Science course.

You will use the chronic kidney disease dataset from the University of California, Irvine data science repositary. You will run the code cell below to use the Table functions to help you out.

In [ ]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import pandas as pd

## In this assignment you will clean a dataset using the Python tools learn thus far.
<br>
Attribute Information:<br>
We use the following representation to collect the dataset<br>
- age - age in years (numerical)<br>
- bp - blood pressure in mm/Hg (numerical)<br>
- sg - specific gravity sg (1.005, 1.010, 1.020, 1.025) (nominal)<br>
- al - albumin (0, 1, 2, 3, 4, 5) (ordinal)<br>
- su - sugar (0, 1, 2, 3, 4, 5) (ordinal)<br>
- rbc - red blood cells (normal, abnormal)(nominal)<br>
- pc - pus cell (normal, abnormal) (nominal)<br>
- pcc - pus cell clumps (present, notpresent) (nominal)<br>
- ba - bacteria (present, notpresent) (nominal)<br>
- bgr - blood glucose random mgs/dl (numerical)<br>
- bu - blood urea mgs/dl (numerical)<br>
- sc - serum creatinine mgs/dl (numerical)<br>
- sod - sodium mEq/L (numerical)<br>
- pot - potassium mEq/L (numerical)<br>
- hemo - hemoglobin gms (numerical)<br>
- pcv - packed cell volume (numerical)<br>
- wc - white blood cell count (cells/cumm) (numerical)<br>
- rc - red blood cell count millions/cmm (numerical)<br>
- htn - hypertension (yes, no) (nominal)<br>
- dm - diabetes mellitus (yes, no) (nominal)<br>
- cad - coronary artery disease (yes, no) (nominal)<br>
- appet - appetite (good, poor) (nominal)<br>
- pe - pedal edema (yes, no) (nominal)<br>
- ane - anemia (yes, no) (nominal)<br>
- classification - class (ckd, notckd) (nominal)<br>
<br>
**Knowing the data types is very important**<br>
- (nominal) - label with no numerical order<br>
- (ordinal) - label with numberical order<br>
- (interval) - numerical with no real 0 (0 means nothing)<br>
- (ratio) - numerical with a real 0 (0 means nothing)<br>

In [ ]:
filename = 'kidney_disease.csv'
kidney_disease = Table.read_table(filename)
kidney_disease

# Change the labels to the full name<br>

In [ ]:
kidney_diseae = kidney_disease.relabel(make_array("'age'", "'bp'", "'sg'", "'class'"),
  make_array("age", "blood pressure", "specific gravity", "class"))
kidney_disease

# Question 1: Create an array called old_names of variables names
from al to ane.  Then created an array called new_names.  Finally use the relabel 
method to change the variable names.

In [ ]:
old_names =...
new_names = ....
kidney_disease = ....
kidney_disease

### To get additional information about the data we will convert the data to a Pandas dataframe show the first 50 records

In [ ]:
chronic_kidney_disease = kidney_disease.to_df()  # pandas dataframe
chronic_kidney_disease[0:50]                     # show 50 lines of data

# Question 2: Create an array of ordinal and nominal field
see the list above

In [ ]:
string_names = ....

# Question 3: Create an array of numeric values that are integers
see the list above

In [ ]:
integer_names = ....

# Question 4: Create an array of numeric values that are decimal
see the list above

In [ ]:
float_names = ...

# Make sure your arrays do not overlap 
## meaning the field name is in more than one array

# Note the data types are not as indicated in the table above
*Knowing the data types is very important**
- (nominal) - label with no numerical order
- (ordinal) - label with numberical order
- (interval) - numerical with no real 0 (0 means nothing)
- (ratio) - numerical with a real 0 (0 means nothing)

We need to make sure the datatype is string, integer, or float

In [ ]:
def changen_tofloat(array_data, df):
    for x in array_data:
        y = df[x]    
        u = []
        for i in range(0, len(y)):
            z = y[i]    
            if z != '?':
                w = float(z)
                u.append(w)
            else:
                u.append(np.nan)
        df[x] = u

# Question 5: Call the changen_tofloat function for the float_names
display the first 40 values

# Changen_toint function to change string to integer

In [ ]:
# Make sure you run this function only once otherwise; an error will occur
def changen_toint(array_data, df):
    for x in array_data:
        y = df[x]    
        u = []        
        for i in range(0, len(y)):
            z = y[i] 
            
            if z != '?':
                if z.find('.') == -1:
                    w = int(z)              
                    u.append(w)
                else:
                    u.append(pd.NA)
            else:
                    u.append(pd.NA)
                
           
        df[x] = u

## Question 6: Call the changen_toint function to change string to integers and 
display first 40 values

# Function to change object to strings and put np.nan for missing values

In [ ]:
def changen_tostring(array_data, df):
    for x in array_data:
        y = df[x] 
        
        u = []
        for i in range(0, len(y)):
            z = y[i] 
            
            if z != '?':
                w = str(z)
                u.append(z)
            else:
                u.append(np.nan)
        df[x] = u

# Question 7: Call the changen_tostring function and 
display the first 40 values

## the info method gives you information about the dataset
- There are missing values nan indicates a missing value
- Also notice the type of data that python has set each variables
- Age has 400 - 391 = 9 missing values
- blood_pressure has 400 - 388 = 12 missing values
- specific_gravity has 400 - 353 = 47 missing values

In [ ]:
chronic_kidney_disease.info()

# Question 8: Determine the missing values for each variable based on the values above. Create an array called no_of_missing_values and list the number of missing values starting from variable age to anemia.

In [ ]:
no_of_missing_values = ....

# Extra Credit write a function to compute the missing values using the kidney_disease table
Print out the table at the end of the function computation

In [ ]:
all_names = make_array("age", "blood pressure", "specific gravity","albumin", "sugar", "red blood cells", "pus cell", "pus cell clumps", "bacteria", 
                       "blood glucose random", "blood urea", "serum creatinine", "sodium", "potassium", "hemoglobin",
                      "packed cell volume", "white blood cell count", "red blood cell count", "hypertension",
                      "diabetes mellitus", "coronary artery disease", "appetite", "pedal edema", "anemia", "class")

missing_v = Table().with_column("Field", all_names)
missing_v

def missing_values(kidney_disease, all_names, missing_v):
    u =[]
    for x in all_names:
       ......
    missing_v.show()
        
        
        
missing_values(kidney_disease, all_names, missing_v)