# Week 8 Discussion Post
This week we discuss probability distributions.  Characteristics of probability distributions are are follows.
- All probabilitities are between 0 and 1
- The sum of the probabilities is equal to 1.
- Each distribution has a mean and standard deviation<br>
Run first cell

In [1]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *


# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

(6.5, 2.2912878474779199)

In [3]:
freq = sums_table.group('sum')
total = die1_sides * die2_sides
prob = freq.with_column('Probability', freq.column('count') / total)
prob

sum  | count | Probability
2    | 1     | 0.0357143
3    | 2     | 0.0714286
4    | 3     | 0.107143
5    | 4     | 0.142857
6    | 4     | 0.142857
7    | 4     | 0.142857
8    | 4     | 0.142857
9    | 3     | 0.107143
10   | 2     | 0.0714286
11   | 1     | 0.0357143

In [4]:
mean_sum = np.mean(sums)
std_sum = np.std(sums)
mean_sum, std_sum

(6.5, 2.2912878474779199)

In [9]:
# Create a table with each outcomes outlined for you in your discussion post
die = Table().with_column('Outcome', make_array(2, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7,7,7,7,7,7,8,8,8,8,8,9,9,9,9,10,10,10, 11,11, 12))
die

Outcome
2
3
3
4
4
4
5
5
5
5
... (26 rows omitted)

In [10]:
# Add the frequency of the outcomes to the table

die = die.group('Outcome').relabeled('count', 'Freq').show()

In [7]:
from itertools import product
import pandas as pd
sides_die1 = 6
sides_die2 = 8
outcomes = [x + y for x, y in product(range(1, sides_die1 + 1), range(1, sides_die2 + 1))]
df = pd.DataFrame(outcomes, columns=["Sum"])
frequency_table = df["Sum"].value_counts().sort_index().reset_index()
frequency_table.columns = ["Sum", "Frequency"]
total_outcomes = frequency_table["Frequency"].sum()
frequency_table["P(X)"] = frequency_table["Frequency"] / total_outcomes
frequency_table["Mean_Contribution"] = frequency_table["Sum"] * frequency_table["P(X)"]
mean = frequency_table["Mean_Contribution"].sum()
frequency_table["Variance_Contribution"] = frequency_table["P(X)"] * (frequency_table["Sum"] - mean) ** 2
variance = frequency_table["Variance_Contribution"].sum()
stddev = math.sqrt(variance)
print(frequency_table)
print(f"\nMean of the distribution: {mean:.3f}")
print(f"Standard Deviation of the distribution: {stddev:.4f}")

    Sum  Frequency      P(X)  Mean_Contribution  Variance_Contribution
0     2          1  0.020833           0.041667               0.750000
1     3          2  0.041667           0.125000               1.041667
2     4          3  0.062500           0.250000               1.000000
3     5          4  0.083333           0.416667               0.750000
4     6          5  0.104167           0.625000               0.416667
5     7          6  0.125000           0.875000               0.125000
6     8          6  0.125000           1.000000               0.000000
7     9          6  0.125000           1.125000               0.125000
8    10          5  0.104167           1.041667               0.416667
9    11          4  0.083333           0.916667               0.750000
10   12          3  0.062500           0.750000               1.000000
11   13          2  0.041667           0.541667               1.041667
12   14          1  0.020833           0.291667               0.750000

Mean of the distribution: 8.000
Standard Deviation of the distribution: 2.8577

In [ ]:
# Total the frequency column and add a column that takes the frequency and divide it by the total add a new column called  P(X)

In [ ]:
# Multiply the X column and the P(X) column and add a new column called mean

In [ ]:
# Sum the mean column and put in variable called mean

In [ ]:
# Multiply P(X) column by (X - mean)**2 and put in column called variance

In [ ]:
# sum the variance column and put in variable call var

In [ ]:
# Take the square root of var and put in variable called stddev

In [ ]:
# display table

In [ ]:
# print out the mean and standard deviation (stddev)

In [9]:
sides_die1 = 8
sides_die2 = 3
outcome = make_array()
for i in np.arange(1, sides_die1+1):
    for j in np.arange(1, sides_die2+1):
         outcome = np.append(outcome, i+j)


outcome

array([  2.,   3.,   4.,   3.,   4.,   5.,   4.,   5.,   6.,   5.,   6.,
         7.,   6.,   7.,   8.,   7.,   8.,   9.,   8.,   9.,  10.,   9.,
        10.,  11.])

In [11]:
tbl_outcome = Table().with_columns('Outcomes', outcome)
tbl_outcome

Outcomes
2
3
4
3
4
5
4
5
6
5
... (14 rows omitted)

In [12]:
sides_die1 = 8
sides_die2 = 3
die1_outcomes = range(1, sides_die1 + 1)
die2_outcomes = range(1, sides_die2 + 1)
all_sums = [sum(roll) for roll in product(die1_outcomes, die2_outcomes)]
two_dice = Table().with_column("X", make_array(*all_sums))
frequency = two_dice.group("X")
frequency_new = frequency.relabeled("count", "frequency")
total = sum(frequency_new.column("frequency"))
def P(frequency):
    return frequency / total
p_of_x = frequency_new.with_column("P(X)", frequency_new.apply(P, "frequency"))
mean_calc = p_of_x.column("X") * p_of_x.column("P(X)")
mean_c = p_of_x.with_column("X * P(X)", mean_calc)
mean = sum(mean_c.column("X * P(X)"))
var_calc = p_of_x.column("P(X)") * (p_of_x.column("X") - mean)**2
variance_table = p_of_x.with_column("variance", var_calc)
var = sum(variance_table.column("variance"))
stddev = np.sqrt(var)
variance_table.show()
print("mean =", mean, ",", "standard deviation =", stddev)

NameError: name 'product' is not defined

In [13]:
die1 = np.arange(1, 6)   
die2 = np.arange(1, 9)   
outcomes = [i + j for i in die1 for j in die2]
values, counts = np.unique(outcomes, return_counts=True)

t = Table().with_columns(
    "X", values,
    "Frequency", counts
)

In [14]:
t

X    | Frequency
2    | 1
3    | 2
4    | 3
5    | 4
6    | 5
7    | 5
8    | 5
9    | 5
10   | 4
11   | 3
... (2 rows omitted)