# Week 13 Discussion
This week we will look at a data set from a retirement plan.  You will report information from the data set.

In [2]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [14]:
retirees = Table.read_table("Retirees.csv")
retirees.show(5)

def adjust_yos(years):
    """Adjusts Years of Service so the minimum value is 9."""
    return years + (9 - min(retirees.column('Years of Service')))

retirees['Years of Service'] = retirees.apply(adjust_yos, 'Years of Service')
def group(age):
    """Groups retirees into age categories."""
    if 65 <= age <= 67:
        return "65-67"
    elif 68 <= age <= 70:
        return "68-70"
    elif 71 <= age <= 73:
        return "71-73"
    elif 74 <= age <= 75:
        return "74-75"
    else:
        return "76+"

retirees = retirees.with_column('Age Group', retirees.apply(group, 'Current Age'))
print("Average Years of Service by Age Group:")
retirees.group('Age Group', np.average).show()
print("Counts by Age Group:")
retirees.group('Age Group').show()

Average Years of Service by Age Group:

Counts by Age Group:

In [15]:
retirees.select('Current Age', 'Age Group').show()