# Week 7 Discussion post - Joins
This Jupyter Notebook is to be used to test the code created by you and your classmate's during Week 7.
<br>
Run the code cell below before entering your code.

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

from urllib.request import urlopen 
import re
def read_url(url): 
    return re.sub('\\s+', ' ', urlopen(url).read().decode())

# Join Table
To join two tables together 
```
new_table = tablex.join('columnx', tabley, 'columny')
```

In [5]:
scores = Table().with_columns('Name', make_array('JoEllen', 'Amy', 'Eloise', 'Junior', 'Monique', 'John', 'Sally'),
                             'Score',make_array(93, 74, 84, 83, 78, 71, 96))
grade = Table().with_columns('Student', make_array('JoEllen', 'Amy', 'Eloise', 'Junior', 'Monique', 'John', 'Sally'),
                            'Class', make_array('Junior', 'Grad Student', 'Sophomore', 'Freshman', 'Senior', 'Freshman', 'Senior'))
new_table = scores.join('Name', grade, 'Student')
new_table

Name    | Score | Class
Amy     | 74    | Grad Student
Eloise  | 84    | Sophomore
JoEllen | 93    | Junior
John    | 71    | Freshman
Junior  | 83    | Freshman
Monique | 78    | Senior
Sally   | 96    | Senior

In [2]:
jay = make_array('JoEllen', 'Amy', 'Eloise', 'Junior', 'Monique', 'John', 'Sally')

In [14]:
num_different = 0 
for i in np.arange(5000):
    findit = np.random.choice(jay, 2)
    a = findit.item(0)
    b = findit.item(1)
    if a == b:
        num_different= 1 + num_different

print("In 5000 tries the number of word that are the same length is", num_different)

In 5000 tries the number of word that are the same length is 723